<!doctype html>
<html lang="cn">

<head>
    <meta charset="utf-8" />
    <title>添加部门_Sumtudou</title>
    <link rel="stylesheet" href="/static/admin_style/css/layout.css" type="text/css" />
    <link rel="stylesheet" href="/static/admin_style/js/bootstrap/bootstrap.css" type="text/css" />
    <!--[if lt IE 9]><script src="js/html5.js"></script><![endif]-->
    <script src="/static/admin_style/js/jquery-1.7.2.min.js"></script>
    <!-- bootstrap -->
    <script type="text/javascript" src="/static/admin_style/js/bootstrap/bootstrap.min.js"></script>

    <script src="/static/admin_style/js/wisdom/wisdom.plug-in.js"></script>
    <script src="/static/admin_style/js/wisdom/system.js"></script>

    <!-- 表单验证，表单扩展 -->
    <script type="text/javascript" src="/static/admin_style/js/validation/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/static/admin_style/js/wisdom/wisdom.form.js"></script>

    <link href="/static/layui/layui/css/layui.css" rel="stylesheet" media="all">
    <script src="/static/layui/layui/layui.js" type="text/javascript"></script>

    <script src="/static/js/jquery.min.js" type="text/javascript"></script>

    <script type="text/javascript" src="http://hnust.hunbys.com/plugins/layer/layer.js"></script>

</head>

<body>
    {include file="common/headerbar"}

    <div id="container" class="clearfix">

        <section id="main" class="column">
            <article class="module width_full">
                <header>
                    <h3>部门添加</h3>
                </header>
                <div id="main" style="margin-left:10%; margin-top:30px;">
                    <form class="layui-form" action="">
                        <div class="layui-form-item" style="width:40%">
                            <label class="layui-form-label">部门号:</label>
                            <div class="layui-input-block">
                                <input " class=" input-xlarge" type="text" id="departid" required lay-verify="required"
                                    autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item" style="width:40%">
                            <label class="layui-form-label">部门名称:</label>
                            <div class="layui-input-block">
                                <input type="text" id="departname" class=" input-xlarge" required lay-verify="required"
                                    autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item" style="width:40%">
                            <label class="layui-form-label">部门人数:</label>
                            <div class="layui-input-block">
                                <input type="text" id="departsum" class=" input-xlarge" required lay-verify="required"
                                     autocomplete="off" class="layui-input" value="1" disabled="disabled">
                            </div>
                        </div>
                        <div class="layui-form-item" style="width:40%">
                            <label class="layui-form-label">部门经理:</label>
                            <div class="layui-input-block">
                                <input type="text" id="manager" class=" input-xlarge" required lay-verify="required"
                                    autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item" style="width:40%">
                            <label class="layui-form-label">经理员工号:</label>
                            <div class="layui-input-block">
                                <input type="text" id="pid" class=" input-xlarge" required lay-verify="required"
                                    autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item" style="margin-left: 25%;margin-top:10px">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
            </article>
        </section>

    </div>

    {include file="common/sidebar"}


    <script>
        layui.use('form', function () {

            var form1 = layui.form;
            //监听提交
            form1.on('submit(formDemo)', function () {

                var formData = new FormData();
                formData.append("type", 11);
                formData.append("departid", $("#departid").val());
                formData.append("departname", $("#departname").val());
                formData.append("departsum", $("#departsum").val());
                formData.append("manager", $("#manager").val());
                formData.append("pid", $("#pid").val());


                $.ajax({
                    url: '/admin.php/Departadd',
                    type: 'POST',
                    data: formData,
                    //这两个设置项必填
                    contentType: false,
                    processData: false,
                    dataType: 'jsonp',
                    calback: "callback",
                    cache: false,
                    success: function (data) {
                        if (data['status'] == '200') {
                            //在原有窗口打开
                            if (data['msg'] == 'add_ok') {
                                layer.msg('添加成功!', {
                                    icon: 1,
                                    time: 1000
                                });
                                setTimeout(function () {}, 1000);
                            } else if (data['msg'] == 'registe_sucss') {
                                layer.msg('添加成功!', {
                                    icon: 1,
                                    time: 1000
                                });
                                setTimeout(function () {}, 1000);
                            }
                        } else {
                            layer.msg('部门号重复,或经理不存在！', {
                                icon: 2,
                                time: 1000
                            });
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(XMLHttpRequest.status);
                        alert(XMLHttpRequest.readyState);
                        alert(textStatus);
                    }
                });

                return false;
            });
        });
    </script>
</body>

</html>