<!doctype html>
<html lang="cn">
<head>
	<meta charset="utf-8"/>
	<title>人事管理系统_Sumtudou</title>
    <link rel="stylesheet" href="/static/admin_style/css/layout.css" type="text/css" />
    <link rel="stylesheet" href="/static/admin_style/js/bootstrap/bootstrap.css" type="text/css" />
	<!--[if lt IE 9]><script src="js/html5.js"></script><![endif]-->
  	<script src="/static/admin_style/js/jquery-1.7.2.min.js" ></script>
    <!-- bootstrap -->
    <script type="text/javascript" src="/static/admin_style/js/bootstrap/bootstrap.min.js" ></script>
    <script src="/static/admin_style/js/wisdom/wisdom.plug-in.js"></script>
    <script src="/static/admin_style/js/wisdom/system.js"></script>
</head>
<body>
    {include file="common/headerbar"}
    
    <div id="container" class="clearfix">
        <section id="main" class="column">
            <article class="module width_full">
                <header><h3>欢迎使用人事管理系统。</h3></header>
                <div class="module_content">
                    <aside>
                       <img src="/static/images/main.jpg" style="margin-left: 25%">
                    </aside>
                </div>
            </article>
        </section>
    </div>
    
    {include file="common/sidebar"}

</body>
</html>